.leftSearch{
    /* border:1px solid black; */
}

.mainRow{
    height:100%;
    border:1px solid rgb(221,222,222);
    margin:0 1em 0 1em;
}
.leftCol,.rightCol{
    /* border:1px solid red; */
    height:40em;
    overflow:scroll;
}

.rightCol{
    background-color:rgb(239,233,255);
    
}